

h1 {
	text-align: center;
	font-size: 3em;
}

.content {
	display: block;
	width: 1200px;
	background: #D8D8D8;
	padding: 1em;
	overflow: hidden;
	margin: 0 auto;

}
.content *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.simple-marquee-container *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.simple-marquee-container {
	width: 100%;
	background:  #D8D8D8;;
	float: left;
	display: inline-block;
	overflow: hidden;
	box-sizing: border-box;
	height: 45px;
	position: relative;
	cursor: pointer;
}


.marquee, *[class^="marquee"] {
	display: inline-block;
	white-space: nowrap;
	position:absolute;
}

.marquee{
  margin-left: 25%;
}

.marquee-content-items{
  display: inline-block;
  padding: 0px;
  margin: 0;
  height: 40px;
  position: relative;
}

.marquee-content-items li{
  display: inline-block;
  line-height: 30px;
  color: #071019;
  font-size: 24px;

}

.marquee-content-items li:after{
	content: "|";
	margin: 0 1em;
}
